services:
  app:
    container_name: finki_aoc_dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3333:3333"
    env_file:
      - .env
    volumes:
      - ./:/app
      - /app/node_modules